* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(120deg, #ed4c4c, #e29d58, #7177e4);
  color: white;

}


body::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 11vh;
  background-color: white;
  transform: skewY(-2deg); 
  transform-origin: top left;
  
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  position: relative;
  
}

.logo {
  font-size: 22px;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  opacity: 0.5;
}


.nav-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.login {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.join-btn {
  background-color: #ff0000;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.3s;
}

.join-btn:hover {
  background-color: #ff9191;
}



.hero-section {
  text-align: center;
  margin-top: 100px;
  position: relative;
  z-index: 2;
}

.welcome-text {
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0.8;
}

.hero-section h1 {
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
  line-height: 1.3;
}

.description {
  margin-top: 15px;
  font-size: 16px;
  opacity: 0.9;
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-primary,
.btn-secondary {
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 5px;
  font-weight: 600;
}

.btn-primary {
  background-color: #ea4141;
  color: white;
}

.btn-secondary {
  border: 2px solid white;
  color: white;
}

.btn-primary:hover {
  background-color: #febaba;
}

.btn-secondary:hover {
  background-color: rgb(247, 83, 83);
  color: #ffffff;
}