body {
    margin: 0;
    background: #0b0e13;
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e5e5;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    width: 45px;
    margin-right: 10px;
}

.header nav a {
    margin: 0 12px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffffc7;
}

.trade-btn {
    padding: 10px 25px;
    background: transparent;
    border: 2px solid #ff2471;
    color: #ff2471;
    border-radius: 20px;
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 120px;
}

.about-text {
    width: 55%;
    line-height: 1.7;
}

.about-text h1 {
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
}

.about-text p {
    font-size: 20px;
    color: #cccccc;
    margin-bottom: 25px;
}

.about-image img {
    width: 480px;
    height: auto;
}

.team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 120px;
    background: #0b0e13;
}

.team-img img {
    width: 500px;
    border-radius: 20px;
    margin-right: 30px;
}

.team-text {
    width: 40%;
    color: #dcdcdc;
    line-height: 1.7;
}

.peepalco-text h2 {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}

.peepalco-text p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #c5c5c5;
}

.discover-btn a {
    display: inline-block;
    background: #1ecd81;
    color: #000;
    font-size: 22px;
    text-decoration: none;
    padding: 30px 40px;
    border-radius: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    margin-left: 30px;
}

.footer-section {
    
    padding: 60px 10%;
    color: #fff;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.footer-col h4 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer-col a {
    display: block;
    color: #d3caff;
    font-size: 15px;
    margin: 8px 0;
    text-decoration: none;
    transition: 0.3s;
}

.footer-col a:hover {
    color: #ffffff;
    transform: translateX(5px);
}

.footer-line {
    margin: 40px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom p {
    color: #b8b3d1;
    font-size: 14px;
}

.social-icons {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    color: #000;
    position: relative;
    
    
}
.social-icons a img {
    width: 35px;  
    height: 35px;
}



.social-icons a img:hover {
    background: #ff6d6d;
    transform: scale(1.1);
    border-radius: 5px;
}