body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
    background-color: black;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    width: 45px;
    margin-right: 10px;
}

.header nav a {
    margin: 0 12px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffffc7;
}

.trade-btn {
    padding: 10px 25px;
    background: transparent;
    border: 2px solid #ff2471;
    color: #ff2471;
    border-radius: 20px;
}

.hero {
    display: flex;
    height: 100vh;
    width: 100%;
    background: #1b0050;
}

/* LEFT CONTENT AREA */
.txt-content     {
    width: 50%;
    padding: 80px;
   
    color: #fff;
}

.txt-content h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}

.txt-content p {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 25px;
}

/* RIGHT IMAGE AREA */
.image {
    width: 500px;
    height: 500px;
    background-image: url("../images/company.png");
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
    margin-top: 20px;
    margin-right: 50px;
}
