* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0b1221; /* Dark background */
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
    background-color: #0b1221; ;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 45px;
    margin-right: 10px;
}

.header nav a {
    margin: 0 12px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffffc7;
}

.trade-btn {
    padding: 10px 25px;
    background: transparent;
    border: 2px solid #ff2471;
    color: #ff2471;
    border-radius: 20px;
}


.who-section {
    height: 100vh;
    width: 100%;
    background: url("office.jpg"); 
    background-size: cover;
    background-position: center;
    position: relative;
}



.content {
    position: relative;
    z-index: 2;
    max-width: 700px;
    padding: 120px 60px;
}

h1 {
    font-size: 60px;
    margin-bottom: 30px;
    font-weight: 700;
}

p {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.join-btn {
    display: inline-block;
    background: #e40075;
    padding: 20px 60px;
    color: #fff;
    font-size: 22px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 20px;
    transition: 0.3s ease;
}

.join-btn:hover {
    background: #ff007f;
}

/* Leadership Section */
.leadership-section {
    width: 100%;
    padding: 80px 60px;
    background: #0b1221; /* same dark background */
}

.section-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
    color: #fff;
    position: relative;
}



.leader-card {
    display: flex;
    align-items: center;
    gap: 40px;
    background: #06101d;
    border: 2px dotted #e40075;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 50px;
}


.leader-img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 15px;
}

.leader-content h3 {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
}

.ln-icon {
    width: 40px;
    margin-left: 8px;
    vertical-align: middle;
}

.role {
    color: #71d0ff;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 12px;
}

.leader-content p {
    color: #d8d8d8;
    font-size: 17px;
    line-height: 1.6;
}

/* Footer */
.footer-section {
    background: linear-gradient(90deg, #2d0066, #350152);
    padding: 60px 10%;
    color: #fff;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.footer-col h4 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer-col a {
    display: block;
    color: #d3caff;
    font-size: 15px;
    margin: 8px 0;
    text-decoration: none;
    transition: 0.3s;
}

.footer-col a:hover {
    color: #ffffff;
    transform: translateX(5px);
}

.footer-line {
    margin: 40px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom p {
    color: #b8b3d1;
    font-size: 14px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    color: #000;
    position: relative;


}

.social-icons a img {
    width: 35px;
    height: 35px;
}



.social-icons a img:hover {
    background: #ff6d6d;
    transform: scale(1.1);
    border-radius: 5px;
}


